@using Restaurant_DeveloperCase.DAL.Model
@model TableModel



<div class="card-body">
    <div class="form-group">
        <label>Tarih:</label>
        <input type="date" class="form-control" min="@DateTime.Today" name="date" id="date" />
    </div>

    <div class="form-group" id="table">
        <button class="btn btn-success" style="margin-right:2px;">MasaA</button>
        <button class="btn btn-success" style="margin-right:2px;">MasaB</button>
        <button class="btn btn-success" style="margin-right:2px;">MasaC</button>
        <button class="btn btn-success" style="margin-right:2px;">MasaD</button>
    </div>

    <label>Başlangıç Saati Seçiniz:</label>
    <div class="form-group">
        @Html.DropDownList("BaslangicSaati", (IEnumerable<SelectListItem>)ViewBag.Saatler, new { @class = "form-control", @id = "baslangicSaat" })
        @Html.DropDownList("BitisSaati", (IEnumerable<SelectListItem>)ViewBag.Saatler, new { @class = "form-control", @id = "bitisSaat" })
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-dark" style="margin-right:16px;" value="Rezervasyon Oluştur" id="reservation" />
    </div>

</div>



@section scripts{

    <script>


        $("#reservation").click(function () {
            var tableName = $("#table").children(".btn-danger").text();
            var date = $("#date").val();
            var baslangicSaat = $("#baslangicSaat").val();
            var bitisSaat = $("#bitisSaat").val();
            //$.get(
            //    "/Home/Rezervasyon?Tarih=" + date + "&TableId=" + tableId + "&Saat=" + saat, function (response) {
            //        $(".card-body").empty();
            //        $(".card-body").html(response);
            //    }
            //    );
            $.get({
                url: "/Home/Rezervasyon",
                type: "get",
                data: { Tarih: date, TableName: tableName, baslangicSaat: baslangicSaat, bitisSaat: bitisSaat },
                success: function (response) {
                    $(".card-body").empty();
                    $(".card-body").html(response);
                }
            });
        })

        var deger;

        $("#table_1").click(function () {
            $("#table_2").removeClass("btn-danger");
            $("#table_3").removeClass("btn-danger");
            $("#table_4").removeClass("btn-danger");
            $(this).toggleClass("btn-danger");
            deger = $(this).text();
        });

        $("#table_2").click(function () {
            $("#table_1").removeClass("btn-danger");
            $("#table_3").removeClass("btn-danger");
            $("#table_4").removeClass("btn-danger");
            $(this).toggleClass("btn-danger");
            deger = $(this).text();
        });

        $("#table_3").click(function () {
            $("#table_1").removeClass("btn-danger");
            $("#table_2").removeClass("btn-danger");
            $("#table_4").removeClass("btn-danger");
            $(this).toggleClass("btn-danger");
            deger = $(this).text();
        });

        $("#table_4").click(function () {
            $("#table_1").removeClass("btn-danger");
            $("#table_2").removeClass("btn-danger");
            $("#table_3").removeClass("btn-danger");
            $(this).toggleClass("btn-danger");
            deger = $(this).text();
        });





    </script>
}
